<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block titlePage %}{% endblock %} </title>
        {% block stylesheet %}
            <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> #}
        <link href="{{asset('css/templates/styles.css')}}" rel="stylesheet" />
        <link rel="icon" href="{{asset('images/logo.jpeg')}}" type="image/jpeg">
        {% endblock %}
        {% block selfCss %}{% endblock %}
        
    </head>
    <body class="sb-nav-fixed">

        <nav class="sb-topnav navbar navbar-expand navbar-dark thisnav">
            <!-- Navbar Brand-->
            {% if  is_granted('ROLE_ADMIN') %}
                <a class="navbar-brand ps-3" href="{{path("app_admin_momo")}}">
                    <img src="{{asset("images/ikasugu-logo.png")}}" alt="logo" id="logo_image"> 
                </a>
            {% endif %} 

            {% if  is_granted('ROLE_PARENT') %}
                <a class="navbar-brand ps-3" href="{{path("app_parent_own_inscription")}}">
                           <img src="{{asset("images/ikasugu-logo.png")}}" alt="logo" id="logo-ikasugu">         
                </a>
            {% endif %} 
            {# <a class="navbar-brand ps-3" href="{{path("app_espace_membre")}}">LOGO</a> #}
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fa fa-bars"></i></button>
           
            <!-- Navbar Search-->
          
            
            
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                     {# {% if is_granted("ROLE_ADMIN") %}
                            <li><a class="dropdown-item" href="{{path('app_admin_setting')}}"><i class="fa fa-cog" aria-hidden="true"></i>Paramètres</a></li>
                        {% endif %} #}
                     {% if is_granted("ROLE_CLIENT") %}
                            <li><a class="dropdown-item" href="#"><i class="fa fa-cog" aria-hidden="true"></i>Paramètres</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{{path('app_logout')}}"><i class="fa fa-sign-in" aria-hidden="true" ></i>Se déconnecter</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Tableau de bord</div>
                            {% if  is_granted('ROLE_ADMIN') %}
                            <a class="nav-link" href="{{path("app_admin_momo")}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-pie-chart"></i></div>
                                        Vue D'ensemble         
                            </a>
                           
                             {% endif %} 
                              <div class="sb-sidenav-menu-heading">pages</div>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa fa-folder" aria-hidden="true"></i></div>
                                Listes
                                <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="gap-3 nav-link" href="{{path("app_admin_category_list")}}"><i class="fas fa-id-card-alt"></i>Category</a> 
                                    <a class="gap-3 nav-link" href="{{path("app_admin_produits_list")}}"><i class="fa fa-product-hunt"></i>Produits</a> 
                                    {# <a class="gap-3 nav-link" href="layout-sidenav-light.html"><i class="fa fa-address-card-o" aria-hidden="true"></i>RéInscriptions</a> #}
                                    {# <a class="gap-3 nav-link" href="layout-sidenav-light.html"><i class="fa fa-users" aria-hidden="true"></i>Parents</a> #}
                                </nav>
                            </div>
                            {% endif %}
                          
                            {# {% if  is_granted('ROLE_ADMIN') %} #}
                           
                                            {# <a class="nav-link" href="login.html">Tarifs</a> #}
                                            {# <a class="nav-link" href="login.html">Les Activités Périscolaires</a> #}
                                
                                        </nav>
                                    {# <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                                    </a>
                                    
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div> #}
                                   
                                </nav>
                            </div>
                            {# <div class="sb-sidenav-menu-heading">Autres</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Corbeilles
                            </a> #}
                                {# <a class="nav-link" href="tables.html">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Tables
                                </a> #}
                        </div>
                          {# {% endif %} #}
                    </div>
                     {% if app.user %}
                        
                    <div class="sb-sidenav-footer">
                        <div class="small">Bienvenue :</div>

                        {{ app.user.email }}
                    </div>
                            {% endif %}
                </nav>
            </div>
            <div id="layoutSidenav_content">
                    {% if  is_granted('ROLE_ADMIN') %}
                        <div class="row">
                             {% block theContentPage %}{% endblock %}
                        </div>
                    {% endif %}
                   
            
                    <div class="row"> 
                        <div class="container">
                        {% block commons %}{% endblock %}
                        </div>
                        
                    </div>
                    <div class="row"> 
                        <div class="container">
                        {% block setting %}
                            <h1>Paramétrages</h1>
                            
                            <ul class="d-flex  gap-4">
                            {# {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{path("app_admin_setting_create_reinscription")}}"><li>Réinscriptions</li></a>
                            {% endif %} #}
                            
                            
                            {# <a href=""><li>Mon Compte</li></a> #}

                            </ul>
                        {% endblock %}
                        </div>
                        
                    </div>

                   
                <footer class="py-4 footer mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Grandir Ensemble.</div>
                            <div>
                                <a href="#" class="footer-link">Politique de Confidentialité</a>
                                &middot;
                                <a href="#" class="footer-link">Termes &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

    </body>
    {% block cdn %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="{{asset('js/template/scripts.js')}}"></script>
    {% endblock %}
        
    

    {% block selfJs %}{% endblock %}
</html>
