{# <nav class="navbar navbar-expand-lg " data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{{asset("images/ikasugu-logo.png")}}" alt="logo" id="logo-ikasugu">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="">Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Présentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      
      
      <div class="wrapper-login d-flex justify-content-end">
        <a class="btn btn-outline-primary my-2 my-sm-0" href="#">Connexion</a>
        </div>
      </ul>
    </div>
  </div>
</nav> #}


   <nav class="navbar navbar-expand-lg navbar ">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{{asset("images/ikasugu-logo.png")}}" alt="logo" id="logo-ikasugu">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCta" aria-controls="navbarCta" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCta">
      <ul class="navbar-nav justify-content-center flex-grow-1">
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_home')}}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_about')}}">Présentation</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item loginBtn">
          <a class="" id="" href="{{path('app_login')}}">Connexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
